
body{
    padding: 0px 5px;
}

.main{
    max-width: 415px;
    margin: auto;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 10px;
    padding: 0px;
    margin-top: 50px;
    box-shadow: 0px 0px 15px #858585;
}

@media only screen and (max-width: 600px) {
    .main{
        max-width: 415px;
        margin: auto;
        border: 1px solid rgb(165, 164, 164);
        border-radius: 10px;
        padding: 0px;
        margin-top: 10px;
        box-shadow: 0px 0px 10px #858585;
    }

  }

.divhead{
    background: #fb8c2dfc;
    padding: 15px;
    height: 205px;
    border-radius: 10px 10px 0px 0px;
}

.divsecond{
    background: #ededed;
    margin: 0px 10px;
    /* position: relative; */
    border-radius: 6px;
    padding: 15px;
    /* top: -78px; */
    padding-top: 39px;
    margin-top: -80px;
    margin-bottom: 20px;
    height: 375px;
    overflow: auto;
}

ul{
    list-style: none;
    padding-left: 10px;
}
 .freq li::before{
    content: "\2022";
    color: orange;
    font-size: 21px;
    margin-right: 10px;
    font-weight: bold;
    width: 9em;

}

.freq > li {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 4px;
    padding-left: 15px;
    background: white;
    box-shadow: 1px 1px 2px #c5bfbf;
    margin-bottom: 10px;
    display: none;
}


.freq > li:hover{
background-color: #f3750940;
}


.icon{
    display: inline-block;
    background: #fb7808;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -59px;
    left: 44px;
    color: white;
    font-size: 25px;
   
}


.user{
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #b9b3b3;
    height: 37px;
    padding-left: 20px;
}

.div3rd{
    margin: 0px 13px;
    margin-top: -22px;
}
.send{
    border-radius: 50%;
    width: 40px;
    border: 0px;
    background: #fb7808;
    color: white;

}
.msg li{
    display: block;
}

.sub-msg{
    /* background: #e5700c; */
    display: inline-block;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    margin-bottom:17px;
}

.msg li:nth-child(2n-1) .sub-msg{
    text-align: end;
    background: #e5700c;
    color: white;
    
 }
 
 .msg li:nth-child(2n-1){
    text-align: end;

 }

.msg li:nth-child(2n+0) .sub-msg{
   text-align: start;
   background: white;
   color:rgb(39, 38, 38);
   animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
   animation-delay: 0.5s;
   opacity: 0;
}

@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }
 
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fb8d2f;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }